#main-menu {
	background-color: #004a7d;
	color: #fff;
}
#main-menu a {
	color: #fff;
}
#main-menu .nav > li > a:hover {
	background-color: #0078C8;
}
nav.navbar {
	border-radius: 0;
}
nav.navbar .logo {
	padding: 7px;
}

.flush {
	padding-right: 0;
	padding-left: 0;
}
.flush-left {
	padding-left: 0;
}
.flush-right {
	padding-right: 0;
}